<div class="container-fluid" *ngIf="section.type !== 'form'">
  <ng-template *ngTemplateOutlet="sectionRow"></ng-template>
</div>

<form class="container-fluid" [formGroup]="formGroupContainer" *ngIf="section.type === 'form'">
  <ng-template *ngTemplateOutlet="sectionRow"></ng-template>
</form>


<ng-template #sectionRow >
  <div class="row" *ngIf="!containSectionChild">
    <div ngClass="{{columnStructure.classes.xs[i]}} {{columnStructure.classes.sm[i]}} {{columnStructure.classes.md[i]}} {{columnStructure.classes.lg[i]}}"
        *ngFor="let field of fields[section.id]; index as i">
        <!--list of widgets will go here-->
        <cui-char-text *ngIf="field.type === 'text'" [fieldObj]="field"></cui-char-text>
        <cui-dropdown-list *ngIf="field.type === 'dropdown'" [fieldObj]="field" [optionList]="field.options"></cui-dropdown-list>
        <div *ngIf="field.type !== 'text' && field.type !== 'dropdown'">{{ field.name }}</div>
    </div>
    <button (click)="clickSubmit()">Submit</button>
  </div>
  <div class="row" *ngIf="containSectionChild">
    <div *ngFor="let childSection of section.sectionList; index as i">
      <app-section [section]="childSection" [fields]="fields"></app-section>
    </div>
  </div>
</ng-template>

